.details {
   padding-top: 0.5rem;
   width: 50%;
}

.details {
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;

   background-color: #241f1bad;
}

@media (min-width: 576px) {
   .details {
      min-width: 320px;
   }
}
