.info__content {
   list-style: none;
   margin: 0;
   padding-left: 0;
}
.info__photo-wrapper {
   /* height: 200px; */
   /* width: 200px; */
}

.info__photo-img {
   /* width: 100%; */
   width: 150px;
   height: 150px;
   border: solid 4px white;
   object-fit: cover;
}

.contacts__info-name {
   padding-right: 0.5rem;
}

.info__help {
   height: 290px;
}

.info__data {
   font-size: 1.5rem;
   font-weight: bold;
}

.info__row {
   padding: 0.5rem 0;
}
.info__help-warning {
   color: red;
}

@media (min-width: 576px) {
   .info__photo-img {
      width: 295px;
      height: 210px;
   }
}
