.details__forms {
   display: flex;
   flex-direction: column;
   border: solid 1px #a9a9a936;
   border-radius: 5px;
}

.forms__item {
   display: block;
   margin: 0.25rem;
   padding: 0.25rem;
   background-color: #3e3e3e;
   color: white;
   border-radius: 2px;
   border: none;
}

.contacts__edit-buttons {
   display: flex;
}

.contacts__edit-buttons button {
   width: 33%;
}

.forms__form-button:hover {
   cursor: pointer;
   background-color: rgb(100, 85, 85);
   transition-property: background-color;
   transition-duration: 1s;
}

@media (min-width: 576px) {
   .forms__item {
      margin: 0.5rem;
      padding: 0.5rem;
   }
}
