body {
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   background-color: black;
   height: 100vh;
   position: relative;
   margin: 0;
   background: url('./background.jpeg');
   background-size: auto;
}

footer {
   text-align: center;
   padding-top: 0.5rem;
}
